
.button_to_shop {
  background-color: #5F4236; /* background colour set to #5F4236 */
  width: 150px; /* width of button element 150px */
  height: 45px; /* height of button element 45px */
  border: none; /* removes border */
  border-radius: 30px; /* curve of edges 30px */
  margin: 30px 0 50px 4em; /* top right bottom left */
}

.button_to_shop:hover {
  cursor: pointer; /* changes cursor when hovered */
  transform: translateX(0.25em); /* moves button 0.25em to the right */
  box-shadow: -2px 2px 5px #463433; /* adds box shadow left down blur #463433 */
}

article {
  display: flex; /* activates flex */
  justify-content: space-evenly; /* justifies equal space around the content */
  align-items: flex-start; /* aligns text to the start of container */
  flex-wrap: wrap;
}

.food_menu_img {
  width: 285px; /* width of image 210px */
  height: 191px; /* height of image 100px */
  margin-top: 10px; /* top margin - 2em */
  border-radius: 15px; /* curve of edges 35px */
  border: none; /* removes border */
}

.menu_section {
  width: 310px; /* width of section 270px */
  height: 395px; /* height of image 310px */
  display: flex; /* activates flex */
  flex-direction: column; /* flex box properties changed to column */
  justify-content: space-between; /* justifies content at center */
  align-items: center; /* aligns text to the center of container */
  background-color: white; /* background colour of section white */
  border-radius: 20px; /* curve of edges 35px*/
  box-shadow: -30px -30px 0 #E6BD8F; /* box shadow top | left | no blur */
}

.p_description {
  font-family: 'Montserrat', sans-serif; /* changes the font */
  font-weight: 400; /* changes the thickness of font */
  font-size: small; /* changes the font size */
  background-color: white; /* changes background colour of p element */
  width: 275px; /* width of p element set to 210px */
  margin: 0; /* removes margins all margins around p element */
}

.p_price, h4 {
  font-family: 'Cinzel', sans-serif; /* changes the font */
  font-weight: 600; /* changes the thickness of font */
  font-size: larger; /* increases font to large */
  color: #5F4236; /* colour changed to #5F4236 */
  background-color: white; /* changes background colour of p element */
  display: flex; /* allows flexbox properties to be applied */
  align-self: flex-start; /* aligns just the p and h4 element to be aligned at the start */
  margin-left: 1em; /* left side margin used to create space align elements */
}

h4 {
  margin: 0 0 0 1em;
}

nav {
  display: flex;  /* activates flex */
  justify-content: flex-start; /* justifies content to the start of container */
  align-items: flex-start; /* aligns text to the start of container */
  height: 100px;
  padding-top: 30px;
}

.a_nav {
  color: #5F4236; /* colour of a element set to #5F4236 */
  margin: 50px 50px 0 50px; /* top right bottom left */
  font-family: 'Cinzel', serif; /* font set to Cinzel */
}

.a_nav:hover {
  cursor: pointer; /* changes cursor when hovered */
  transform: translateX(0.5em); /* moves link 0.5em to the right */
}

#logo {
  background-image: url(logo1.2-removebg.png); /* uses chosen image for background logo */
  width: 100px; /* width of image set to 100px */
  height: 100px;  /* height of image set to 100px */
  border-radius: 5px 20px 5px; /* top-left | top-right-and-bottom-left | bottom-right */
  background-size: contain; /* image set to fit container */
  background-repeat: no-repeat; /* stops image from repeating */
  border: none; /* removes border */
  margin-left: 25px; /* left-side margin 25px */
}

#logo:hover {
  cursor: pointer; /* changes cursor when hovered */
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.home_img_bkrnd {
  width: 500px;
  height: 600px;
}

.home_img {
  background: none;
  width: 300px;
  height: 300px;
  align-self: center;
  align-items: flex-end;
}