* {
  background-color: #FBF5F0;
}

h1 {
  font-family: 'Cinzel', serif;
  font-size: 4.5em;
  display: flex;
  justify-content: flex-start;
  text-align: flex-start;
  margin: 100px 0 30px 1em;
}

.p1 {
  width: 30em;
  height: 10em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: large;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 4em;
}

a {
  text-decoration: none;
  background: none;
  color: #EFEDEC;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: medium;
}

.button1 {
  background-color: #5F4236;
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 30px;
  margin-left: 4em;
  margin-top: 30px;
}

.button1:hover {
  cursor: pointer;
  transform: translateX(0.25em);
  box-shadow: -2px 2px 5px #463433;
}

.h2_1 {
  font-family: 'Cinzel', serif;
  font-size: 4em;
  display: flex;
  justify-content: flex-end;
  text-align: flex-end;
  margin: 150px 1em 10px 0 ;
}

.p2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 4em;
}

.section1 {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.img_sizes {
  width: 300px;
  height: 100px;
  margin: 2em 4em;
}

.p3 {
  width: 300px;
  height: 100px;
  margin: 0 4em;
}

em {
  font-weight: bold;
}

footer {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: small;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
