* {
  background-color: #5F4236; /*changes background colour*/
}

body {
  margin: 0; /*sets margin on the body to 0*/
}

h1, h2, h3 {
  font-family: 'Cinzel', serif; /* font - Cinzel */
  font-weight: 900; /* increases the boldness of font */
  color: #FBF5F0; /* changed colour of text to #fBF5F0 */
  margin-left: 2em; /* left-side margin - 2em */
  font-size: 4em; /* increases font-size to 4em */
}

h1 {
  display: flex; /* flexbox properties */
  justify-content: center; /* centers h1 */
}

h2 {
  font-size: 3em; /* font sixe 3em */
  margin-left: 75px; /* left-side margin - 75px */
}

h3 {
  font-size: 2.75em; /* font size 2.75em */
  margin: 70px 0 90px 75px; /* left-side margin - 75px */
}

nav {
  display: flex; /* activates flex */
  justify-content: flex-start; /* justifies content to the start of container */
  align-items: flex-start; /* aligns text to the start of container */
  background-color: #FBF5F0; /* background colour set set #FBF5F0 */
  height: 100px;
  padding-top: 30px;
}

a {
  text-decoration: none; /* removes all text decoration */
  background: none; /* removes link background */
  color: #EFEDEC; /* link background set to #EFEDEC */
  font-family: 'Montserrat', sans-serif; /* font set to Montserrat */
  font-weight: 600; /* font thickness - 600 */
  font-size: medium; /* font size - medium */
}

.a_nav {
  color: #5F4236; /* nav link colour - #5F4236 */
  margin: 50px 50px 0 50px; /* top | right | bottom | left */
  font-family: 'Cinzel', serif; /* font family - Cinzel */
}

.a_nav:hover {
  cursor: pointer; /* pointer cursor activated when hovered */
  transform: translateX(0.5em); /* moves button 0.5em to the right */
}

#logo { 
  background-image: url(logo1.2-removebg.png); /* uses chosen image for background logo */
  width: 100px; /* image width set to 100px */
  height: 100px; /* image height set to 100px */
  border-radius: 5px 20px 5px; /* top-left | top-right-and-bottom-left | bottom-right */
  background-color: #FBF5F0; /* background colour #FBF5F0 */
  background-size: contain; /* full image to fit container */
  background-repeat: no-repeat; /* do not repeat image */
  border: none; /* remove borders */
  margin-left: 25px; /* left-side margin - 25px */
}

#logo:hover {
  cursor: pointer; /* pointer curser activated when hovered */
}

footer {
  display: flex; /* activates flex */
  justify-content: flex-start; /* justifies content to the end of container */
  align-items: flex-start; /* aligns text to the end of container */
  background-color: #FBF5F0;
}

.p_footer {
  font-family: 'Montserrat', sans-serif; /* font set to Montserrat */
  font-weight: 900; /* thickness of font set to 900 */
  font-size: large; /* font size set to small */
  background-color: #FBF5F0;
  color: black;
}

article {
  display: flex; /* activates flex */
  justify-content: space-evenly; /* justifies equal space around the content */
  align-items: flex-start; /* aligns text to the start of container */
}

.food_menu_img {
  width: 285px; /* width of image 210px */
  height: 191px; /* height of image 100px */
  margin-top: 10px; /* top margin - 2em */
  border-radius: 15px; /* curve of edges 35px */
  border: none; /* removes border */
}

.menu_section {
  width: 310px; /* width of section 270px */
  height: 395px; /* height of image 310px */
  display: flex; /* activates flex */
  flex-direction: column; /* flex box properties changed to column */
  justify-content: space-between; /* justifies content at center */
  align-items: center; /* aligns text to the center of container */
  background-color: white; /* background colour of section white */
  border-radius: 20px; /* curve of edges 35px*/
  box-shadow: -30px -30px 0 #E6BD8F; /* box shadow top | left | no blur */
}

.p_description {
  font-family: 'Montserrat', sans-serif; /* changes the font */
  font-weight: 400; /* changes the thickness of font */
  font-size: small; /* changes the font size */
  background-color: white; /* changes background colour of p element */
  width: 275px; /* width of p element set to 210px */
  margin: 0; /* removes margins all margins around p element */
}

.p_price, h4 {
  font-family: 'Cinzel', sans-serif; /* changes the font */
  font-weight: 600; /* changes the thickness of font */
  font-size: larger; /* increases font to large */
  color: #5F4236; /* colour changed to #5F4236 */
  background-color: white; /* changes background colour of p element */
  display: flex; /* allows flexbox properties to be applied */
  align-self: flex-start; /* aligns just the p and h4 element to be aligned at the start */
  margin-left: 1em; /* left side margin used to create space align elements */
}

h4 {
  margin: 0 0 0 1em;
}
