* {
  background-color: #FBF5F0; /* background colour set to #FBF5F0 */
}

h1 {
  font-family: 'Cinzel', serif; /* font - Cinzel */
  font-size: 6em; /* font size - 6em */
  display: flex; /* flex */
  justify-content: center; /* h1 centered */
  text-align: center; /* text center aligned */
  margin: 25px 0 0 0; /* top right bottom left */
}

main {
  display: flex; /* flexbox properties */
  justify-content: center; /* text justified at centre */
  font-size: 20px; /* text size - 20px */
  text-align: center;
  align-self: center;
  width: 32em; /* width of container - 32em */
  margin: auto; /* margin not specified - set to auto */
}

p {
  font-family: 'Montserrat', sans-serif; /* font - Montserrat */
  font-weight: 300; /* font thickness is 300 */
}

a {
  text-decoration: none; /* removes any text decorations */
  background: none; /* removes the background */
  color: #EFEDEC; /* text colour - #EFEDEC */
  font-family: 'Montserrat', sans-serif; /* font - Montserrat */
  font-weight: 600; /* font thickness - 600 */
  font-size: medium; /* font size - medium */
}

div { 
  display: flex; /* flexbox activated */
  justify-content: center; /* centers content */
  margin-top: 15px; /* margin at top - 15px */
}

.button1 {
  background-color: #5F4236;
  width: 150px; /* button width 150px */
  height: 45px; /* button height 45px */
  border: none; /* removes border */
  border-radius: 30px; /* curves egdes by 30px */
  margin-bottom: 60px; /* margin bottom - 60px */
}

.button1:hover {
  cursor: pointer; /* changes cursor to pointer when hovered */
  transform: translateX(0.25em); /* moves button 0.25em to the right when hovered */
  box-shadow: -2px 2px 5px #463433; /* adds box shadow left down blur */
}

.logo {
  background-image: url(logo2-removebg.png); /* background is selected image */
  width: 190px; /* width of logo is 190px */
  height: 190px; /* height of logo is 190px */
  border-radius: 5px 20px 5px; /* top-left | top-right-and-bottom-left | bottom-right */
  background-size: contain; /* image will be shrunk or enlarged to fit container */
  background-repeat: no-repeat; /* image will not be repeated when shrunk */
  border: none; /* removes borderes on element */
}

.logo:hover {
  cursor: pointer; /* cursor is changed when hovered */
}

nav {
  display: flex; /* flexbox properties applied to nav */
  justify-content: center; /* content in vnav is centred */
}

footer {
  font-family: 'Montserrat', sans-serif; /* Montserrat font */
  font-weight: 900; /* font thickness 900 */
  font-size: small; /* font size - small */
  display: flex; /* activates flexbox properties */
  justify-content: flex-end; /* content is justified to the end of the container */
  margin-top: 55px; /* top margin - 55px */
}
