
@media (max-width: 1170px) {
  #menu {
    width: 1200px;
    height: 1500px;
  }
  }
  
  @media (max-width: 900px) {
    #menu {
      width: 900px;
      height: 1300px;
    }
  }
  
  @media (max-width: 720px) {
    #menu {
      width: 700px;
      height: 1000px;
    }
  }
  
  @media (max-width: 600px) {
    #menu {
      width: 600px;
      height: 800px;
    }
  }
  
  @media (max-width: 450px) {
    #menu {
      width: 400px;
      height: 600px;
      margin-top: 30px;
    }
    .p_footer {
      margin-top: 10px;
    }
    .btn {
      margin-bottom: 10px;
    }
  }

  @media (max-width: 200px) {
    #menu {
      width: auto;
      height: auto;
      margin-top: 30px;
    }
    .p_footer {
      margin-top: 10px;
    }
    .btn {
      margin-bottom: 10px;
    }
  }
  