
body {
  display: flex;
  justify-content: space-evenly;
}

header {
  display: flex; 
  text-align: center;
  justify-content: center;
  margin: 30px 30px;
}

h1{
  font-family: 'Cinzel', serif; /* font - Cinzel */
  font-size: 30px; /* font size - 30px */
  margin: 0;
}

h5 {
  font-family: 'Montserrat', sans-serif; /* font - Montserrat */
  font-size: medium;
  font-weight: bold;
}

aside {
  display: flex;
  justify-content: center;
  text-align: center;
}

p {
  font-family: 'Montserrat', sans-serif; /* font - Montserrat */
  font-weight: 300; /* font thickness is 300 */
  width: 370px;
  font-size: 12px;
}

em {
  font-weight: bold;
}

div {
  display: flex;
  justify-content: center;
  margin-top: 15px; /* margin at top - 15px */
}

a {
  text-decoration: none; /* removes any text decorations */
  background: none; /* removes the background */
  color: #EFEDEC; /* text colour - #EFEDEC */
  font-family: 'Montserrat', sans-serif; /* font - Montserrat */
  font-weight: 600; /* font thickness - 600 */
  font-size: medium; /* font size - medium */
}

a:hover {
  color: white;
}

.btn {
  background-color: #5F4236;
  width: 150px; /* button width 150px */
  height: 45px; /* button height 45px */
  border: none; /* removes border */
  border-radius: 30px; /* curves egdes by 30px */
  margin-bottom: 30px; /* margin bottom - 30px */
}

.btn:hover {
  cursor: pointer; /* changes cursor to pointer when hovered */
  transform: translateX(0.25em); /* moves button 0.25em to the right when hovered */
  box-shadow: -2px 2px 5px #463433; /* adds box shadow left down blur */
  background-color: #463433;
}

.btn:active {
  background-color: #463433;
}

.btn::after {
  background-color: #5F4236;
}

.p_footer {
  font-family: 'Montserrat', sans-serif; /* Montserrat font */
  font-weight: 900; /* font thickness 900 */
  font-size: medium; /* font size - medium */
  font-weight: bold;
  margin-top: 50px;
}

.fa-solid {
  color: #5F4236;
}

#menu {
  width: 1000px;
  height: 1300px;
}

.menu {
  display: flex;
  justify-content: center;
}

#logo {
  width: 160px;
  height: 160px;
}