@media (max-width: 1170px) {
article {
  display: none;
}
img {
  width: 1200px;
  height: 1500px;
}
}

@media (max-width: 900px) {
  img {
    width: 900px;
    height: 1300px;
  }
}

@media (max-width: 720px) {
  img {
    width: 700px;
    height: 1000px;
  }
}

@media (max-width: 600px) {
  img {
    width: 600px;
    height: 800px;
  }
}

@media (max-width: 450px) {
  img {
    width: 400px;
    height: 600px;
  }
}
