* {
  background-color: #FBF5F0; /* background colour set to #FBF5F0 */
}

body {
  display: flex;
  justify-content: space-evenly;
}

article {
  width: 500px;
  height: 720px;
  border-right: 1px solid rgba(0,0,0,.1);;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

header {
  display: flex; 
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}

h1 {
  font-family: 'Cinzel', serif; /* font - Cinzel */
  font-size: 50px; /* font size - 50px */
  margin: 0;
}

aside {
  display: flex;
  justify-content: center;
  text-align: center;
}

p {
  font-family: 'Montserrat', sans-serif; /* font - Montserrat */
  font-weight: 300; /* font thickness is 300 */
  width: 370px;
  font-size: medium;
}

em {
  font-weight: bold;
}

div {
  display: flex;
  justify-content: center;
  margin-top: 15px; /* margin at top - 15px */
}

a {
  text-decoration: none; /* removes any text decorations */
  background: none; /* removes the background */
  color: #EFEDEC; /* text colour - #EFEDEC */
  font-family: 'Montserrat', sans-serif; /* font - Montserrat */
  font-weight: 600; /* font thickness - 600 */
  font-size: medium; /* font size - medium */
}

.insta_link {
  background-color: #5F4236;
  width: 150px; /* button width 150px */
  height: 45px; /* button height 45px */
  border: none; /* removes border */
  border-radius: 30px; /* curves egdes by 30px */
  margin-bottom: 30px; /* margin bottom - 30px */
}

.insta_link:hover {
  cursor: pointer; /* changes cursor to pointer when hovered */
  transform: translateX(0.25em); /* moves button 0.25em to the right when hovered */
  box-shadow: -2px 2px 5px #463433; /* adds box shadow left down blur */
}

nav {
  display: flex;
  justify-content: center;
}

#logo {
  background-image: url(logo2-removebg.png); /* background is selected image */
  width: 230px; /* width of logo is 230px */
  height: 230px; /* height of logo is 230px */
  border-radius: 5px 20px 5px; /* top-left | top-right-and-bottom-left | bottom-right */
  background-size: contain; /* image will be shrunk or enlarged to fit container */
  background-repeat: no-repeat; /* image will not be repeated when shrunk */
  border: none; /* removes borderes on element */
}

#logo:hover {
  cursor: pointer; /* cursor is changed when hovered */
}

footer {
  display: flex; /* activates flexbox properties */
  justify-content: flex-start; /* content is justified to the start of the container */
  position: fixed;
  bottom: 0;
  left: 10px;
}

.p_footer {
  font-family: 'Montserrat', sans-serif; /* Montserrat font */
  font-weight: 900; /* font thickness 900 */
  font-size: medium; /* font size - medium */
  font-weight: bold;
}

#menu {
  width: 900px;
  height: 1300px;
}

.fa-solid {
  color: #5F4236;
}
